<!DOCTYPE html>
<head>
    <title>Mood Tracker</title>
</head>
<body>
    <h1>hello!</h1>
    <form action="/postdata" method="post">
        <label>
            Tell me something good you did today:
            <input type="text" name="quote">
        </label>
        <button type="submit">Send Anonymously...</button>
    </form>
</body>