#root {
  background-image: 
    url( "./moodtracker_BG3.3.jpg");
  background-size: 1080px 608px;
  background-repeat: no-repeat;
  max-width: 1080px;
  max-height: 608px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}