:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #a2b3d8;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #d0444a;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Lucida Console", monospace;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  font-family: "Monaco", monospace;
  color: #005e90;
  margin: 0;
}

button {
  color: white;
  border-radius: 12px;
  border: 1px solid #6289b3;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: white;
  cursor: pointer;
  transition: #6289b3 0.25s;
}
button:hover {
  border-color: #6289b3;
  color: white;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #005e90;
    background-image: linear-gradient(to right, rgba(255,0,0,0), #cebdde);
  }
  a:hover {
    color: #d0444a;
  }
  button {
    background-color: #6289b3;
  }
}

.nav {
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}

.nav a {
  float: left;
  color: inherit;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

.entryButton button {
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #d0444a;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
}