/* .modalBackground {
    margin-top: 0;
    width: 75vw;
    height: 75vh;
    background-color: rgba(200, 200, 200);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
  }  */
  
  .modalContainer {
    /* ===width: 500px;
    height: 500px;
    background-color: #bfcff066;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 25px; */
    border-radius: 25px;
    padding: 20px;
   /*  width: 200px;
    height: 150px; */
  } 
  
  .modalContainer .title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
    font-size: 7px;
    font-family: "Lucida Console", monospace;
  }
  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  
  .modalContainer .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    text-align: center;
  }

  #resources {
    text-align: left;
  }
  
  .modalContainer .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContainer .footer button {
    margin: 10px;
    border: none;
    background-color: #d0444a;
    color: white;
    border-radius: 25px;
    font-size: 20px;
    display: inline-block;
    cursor: pointer;
  }
  
  #cancelBtn {
    background-color: crimson;
  }